# Assignment 5

# Sentiment Analysis

#### Imports the pandas library and then reads the CSV file

In [10]:
import pandas as pd 
df = pd.read_csv("C:\\Users\\ruchitha\\Downloads\\singapore_airlines_reviews.csv")
df.sample(10)

,published_date,published_platform,rating,type,text,title,helpful_votes
1587,2020-03-10T09:21:40-04:00,Desktop,5,review,Singapore Airlines is by far the best in my op...,Top class airline,1
5041,2019-06-20T04:59:35-04:00,Desktop,5,review,About 10 hours non-stop from Manchester to Hou...,Great Flight,1
6874,2019-02-11T05:25:09-05:00,Desktop,5,review,Faultless airline. We travelled Business and g...,Super Airline Singapore Airlines,1
9555,2018-09-12T15:00:54-04:00,Mobile,5,review,Had been a while since my last SQ flight. The ...,I am home,0
9201,2018-09-18T00:55:54-04:00,Desktop,5,review,As always we were greeted by very friendly sta...,Great Airline,1
8068,2018-12-01T11:21:31-05:00,Desktop,5,review,Not the first time we have done this trip but ...,Something to Singer's about,1
5296,2019-05-30T15:04:32-04:00,Desktop,5,review,I travel a lot with different airlines but Sin...,The best airline,0
7260,2019-01-10T16:20:15-05:00,Mobile,5,review,Recently flew Singapore airlines on a trip to ...,Highly recommended for long flights,0
2701,2019-12-07T04:34:02-05:00,Desktop,3,review,Flea on onan old A380. And found it very cramp...,Holidays,3
6323,2019-03-16T07:18:42-04:00,Desktop,3,review,I was on the premium economy from Japan to Sin...,Just OK,0

#### Using NLTK to work with the Opinion Lexicon, which is a list of positive and negative words commonly used in sentiment analysis.

In [5]:
from sklearn import preprocessing
import nltk
nltk.download('opinion_lexicon')
from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize

print('Total number of words in opinion lexicon', len(opinion_lexicon.words()))
print('Examples of positive words in opinion lexicon',
      opinion_lexicon.positive()[:10])
print('Examples of negative words in opinion lexicon',
      opinion_lexicon.negative()[:10])

[nltk_data] Downloading package opinion_lexicon to
[nltk_data]     C:\Users\ruchitha\AppData\Roaming\nltk_data...

Total number of words in opinion lexicon 6789
Examples of positive words in opinion lexicon ['a+', 'abound', 'abounds', 'abundance', 'abundant', 'accessable', 'accessible', 'acclaim', 'acclaimed', 'acclamation']
Examples of negative words in opinion lexicon ['2-faced', '2-faces', 'abnormal', 'abolish', 'abominable', 'abominably', 'abominate', 'abomination', 'abort', 'aborted']

[nltk_data]   Unzipping corpora\opinion_lexicon.zip.

#### Creating a dictionary word_dict to use for scoring review text based on the words in the Opinion Lexicon

In [6]:
# Let's create a dictionary which we can use for scoring our review text
nltk.download('punkt')
pos_score = 1
neg_score = -1
word_dict = {}
 
# Adding the positive words to the dictionary
for word in opinion_lexicon.positive():
        word_dict[word] = pos_score
      
# Adding the negative words to the dictionary
for word in opinion_lexicon.negative():
        word_dict[word] = neg_score

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ruchitha\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

#### Function calculates the sentiment score by summing up the sentiment scores of individual words in the input text

In [7]:
def bing_liu_score(text):
    sentiment_score = 0
    bag_of_words = word_tokenize(text.lower())
    for word in bag_of_words:
        if word in word_dict:
            sentiment_score += word_dict[word]
    return sentiment_score

# Calculating the Bing_Liu_Score

In [11]:
# Fill missing values in 'text' column with 'no review'
df['text'].fillna('no review', inplace=True)

# Apply bing_liu_score function to each text in 'text' column and store results in 'Bing_Liu_Score' column
df['Bing_Liu_Score'] = df['text'].apply(bing_liu_score)

#### Print the first 10 rows of DataFrame, including the  rating, text, and the corresponding Bing Liu sentiment score for each review

In [12]:
df[['rating',"text", 'Bing_Liu_Score']].head(10)

   rating                                               text  Bing_Liu_Score
0       3  We used this airline to go from Singapore to L...               5
1       5  The service on Singapore Airlines Suites Class...              20
2       1  Booked, paid and received email confirmation f...              -1
3       5  Best airline in the world, seats, food, servic...               4
4       2  Premium Economy Seating on Singapore Airlines ...              -1
5       1  We booked our flights a full 9 months in advan...               2
6       5  This was a fascinating experience. As I sat in...               4
7       1  Very bad expeirence for flight check in at bai...              -2
8       1  Respected Faculty, I am Bincy, writing this  t...               0
9       1  I would rate Singapore airlines the worse I ha...              -1

#### Groups the dataframe df by the 'rating' column and calculates the mean of the 'Bing_Liu_Score'

In [13]:
df.groupby('rating').agg({'Bing_Liu_Score':'mean'})

        Bing_Liu_Score
rating
1            -1.854305
2            -0.440147
3             1.272547
4             3.770208
5             4.912058